@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    scroll-behavior: smooth;
}

/* In your CSS file or a <style> tag */

/* In your CSS file or a <style> tag */

@keyframes lighting {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
}

.project-container {
  display: block;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.project-container:hover {
  transform: scale(1.05);
  animation: lighting 1.5s infinite alternate;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}




/* In your CSS file or a <style> tag */

@keyframes borderAnimation {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }
  
  .border-animate {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -2px;
      bottom: 0;
      width: 2px;
      height: 0; /* Start the height at 0 */
      background-color: rgb(150, 150, 150); /* This is the stone-200 color */
      animation: borderAnimation 10s ease-in-out forwards;
    }
  }


  /* In your CSS file or a <style> tag */

  .scroll-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 200px; /* Adjust height as needed */
    align-items: center;
    margin-top: 20px; /* Add some margin if needed */
}

.scroll-img {
    width: 20%;
    flex-shrink: 0;
    animation: scroll 10s linear infinite;
    
}


@layer utilities {
  .animate-loop {
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

.tag {
  @apply flex items-center text-black bg-gray-100 shadow-gray-400 rounded-lg px-4 py-3 mr-4 shadow-md;
}

